<style>
    .header {
        width: 100%;
        background-color: #343a40;
        color: white;
        padding: 8px 0;
        position: fixed;
        top: 0;
        z-index: 800;
    }       
</style>

</head>
<body>
    <div class="header text-center">
        <h1>ExpresoSQL</h1>
    </div>