<style>
    body {
        display: flex;
    }
    .sidebar {
        min-width: 200px;
        max-width: 200px;
        background-color: #f8f9fa;
        padding: 20px;
        height: 80vh;
        position: fixed;
    }
    .content {
        margin-left: 220px;
        padding: 20px;
        flex-grow: 1;
        margin-top: 100px;
    }
    .sidebar a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
    }
    .sidebar a:hover {
        background-color: #e9ecef;
    }
</style>
</head>
<body>
<div class="sidebar">
    <h2>Menu</h2>
    <a href="#">Fotos</a>
    <a href="#">Orders</a>
    <a href="#">Customers</a>
    <a href="#">Reports</a>
    <a href="#">Integración</a>
    <a href="#">Reportes</a>
</div>